# ===============================
# Git
# ===============================
.git
.gitignore

# ===============================
# Environment / Secrets
# ===============================
.env
.env.*
*.env

# ===============================
# Maven
# ===============================
target/
.mvn/
mvnw
mvnw.cmd

# ===============================
# IDE
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Node (jaga-jaga)
# ===============================
node_modules/

# ===============================
# Test & Docs
# ===============================
**/test/
**/tests/
README.md
